@model WebMvc1.Models.FormModel
@{
    ViewData["Title"] = "Form1";
}

<div class="text-left">
    <h1 class="display-4">Dane z formularza</h1>
    @Html.DisplayNameFor(model => model.Name):          @ViewBag.Name
    <br />
    @Html.DisplayNameFor(model => model.Data):          @ViewBag.BirthDate
    <br />
    @Html.DisplayNameFor(model => model.Days):          @ViewBag.Days
</div>
<br/>
<a href="/form1.html">Powrót do Form1 (HTML)</a>
<br />